/*================================================Home Page 1================================================*/
div#homepage_1 {
    display: flex; 
    justify-content: center;
}

div#homepage_1 h1{
    font-family: LeagueSpartanBold;
    font-size: 50px;
    margin-bottom: 0px;
}

div#homepage_1 p{
    margin-top: 0px;
}

/*================================================Home Page 2================================================*/
div#homepage_2 {
    margin-top: 5%;
}

div#upper_banner {
    text-align: center;
}

div#middle_hp2 {
    display: flex;
    justify-content: center;
}

div.hp2_items p {
    font-family: Inconsolata;
}

div#lower_banner {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}