/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 26, 2024, 8:33:10 PM
    Author     : MAMBA
*/


/*================================================Home Page 1================================================*/
div#homepage_1 {
    display: flex; 
    margin-left: 130px;
}

div#homepage_1 h1{
    font-family: LeagueSpartanBold;
    font-size: 50px;
    margin-bottom: 0px;
}

div#homepage_1 p{
    margin-top: 0px;
}

div#homepage_1 img {
    margin-left: 210px;
}
    

