/*===========product table=============*/
.head {
    margin: 5%;
}

.table{
    display: flex;
    margin: 5%;
    justify-content: center;
}

.table table{
    table-layout: fixed;
}

.table table, th, td{
    border: 1px solid white;
    background-color: #D9D9D9;
    border-collapse: collapse;
    overflow: auto;
    text-align: center;
}
/*===========product table=============*/
/*===========add product=============*/
.box{
    border: 2px solid black;
    padding: 10px;
    width: 75%;
    text-align: center;
    margin: auto;
}
/*===========add product=============*/