div#txthead{
    font-family: LeagueSpartanBold;
}

div#txtbody{
    font-family: Inconsolata;
}

/*show how the boxes align*/
.item_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

/*designing the boxes*/
.item_box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px transparent;
    padding: 10px;
    margin: 2%;
    text-align: center;
}

.item_box div {
    height: 20%;
}

/*image alignment*/
#image-container {
    width: 300px;
    height: 200px;
    overflow: hidden; 
    position: relative; 
    background-position: center; 
}

#image-container img {
    width: 100%; 
    height: auto;
    display: block;
    top: 0; 
    left: 0;
}

#image-container:hover {
    overflow: visible; 
}



/*when hover*/
.item_box:hover{
    border: 3px solid yellow;
}

/*form*/
form input {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form input:hover {
    border-color: #999;
}

form input:focus {
    outline: none;
    border-color: blue;
}

