.product_info
{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.mainimg{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    max-width: 20%;
}

.mainimg img{
    max-width: 100%;
}

.product_details
{
    float: right;
    margin: auto;
    text-align: center;

}

.product_descriptions
{
    text-align: center;

}


#product_name
{
    font-size: 49px;
    font-weight: bold;
}

#product_price
{
    font-size: 20px;

}

#addtocartButton
{
    padding: 10px;
}


div#txtbody{
    font-family: Inconsolata;
}

/*show how the boxes align*/
.item_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

/*designing the boxes*/
.item_box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px transparent;
    padding: 10px;
    margin: 2%;
    text-align: center;
}

.item_box div {
    height: 20%;
}

.product_details form {
    display: flex;
    gap: 50px;
}

#amount {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}



/*when hover*/
.item_box:hover{
    border: 3px solid yellow;
}

#addbutton:hover {
    background-color:lightgreen ;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#removebutton:hover {
    background-color: hsl(352, 100%, 60%);  
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/*image alignment*/
#image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-position: center;
}

#image-container img {
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
}

#image-container:hover {
    overflow: visible;
}