body {
    font-family: Inconsolata;
}

div#middle {
    display: flex;
    justify-content: center;
    width: 100%;
}

div#middle div {
    margin: 2%;
}

div.txthead{
    font-family: LeagueSpartanBold;
}

div.txtbody{
    font-family: Inconsolata;
}

div#redtxt{
    color: red;
}

div#btmbox{
    display: flex;
    justify-content: center;
    font-family: LeagueSpartanBold;
}

div#btmbox div{
    width: 70%;
}

